.container-g {
  display: grid;
  grid-template-columns: 0.3fr 2fr 0.8fr;
  min-width: 100vh;
  grid-template-areas:
    "nav header header"
    "nav section aside"; /* change in case you need  'nav' */
}

header {
  background: $color3;
  grid-area: header;
  grid-column: 2 / -1;
  padding: 10px;
  border-bottom: 2px solid $color5;

}

nav {
  grid-area: nav;
}

section {
  background: $color5;
  grid-area: section;
  min-height: 100vh;
}

aside {
  background: $color5;
  grid-area: aside;
  min-height: 100vh;
}
