.container-g {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr; 
    min-width: 100vh;
    grid-template-areas: 
        "nav header header"
        "nav section aside"; /* Cambiado para colocar 'section' al lado de 'nav' */
}

header {
    background: aqua;
    grid-area: header;
    grid-column: 2 / -1;


    padding: 10px;
    

}

nav {
    grid-area: nav;
    
}

section {
    background: rgb(165, 82, 82);
    grid-area: section;
    min-height: 100vh;
}

aside {
    background: #999;
    grid-area: aside;
}
