.container-g {
    display: grid;
    grid-template-columns: 0.7fr 2fr 1fr; 
    min-width: 100vh;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "section aside aside"; /* rmb here it wherer u can change the position */
}

header {
    background: aqua;
    grid-area: header;
    grid-column: 2 / -1;
    padding: 10px;
    
}

nav {
    grid-area: nav;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

section {
    background: rgb(165, 82, 82);
    grid-area: section;
    grid-column: 2 / 3; /* Centra 'section' */
}

aside {
    background: #999;
    grid-area: aside;
    grid-column: 3 / -1; /* Coloca 'aside' a la derecha */
}
