.share-header {
  display: grid;
  grid-template-columns: 0.2fr 1.5fr 0.3fr 0.5fr 1fr;
  grid-template-rows: 1fr; /* rmb try use just one a 1fr */
  align-items: center;
  grid-template-areas:
    "lupa input notification avatar user"; 
}

.icon-search {
  grid-area: lupa;
  max-width: 20px;
  display: flex;
  margin-left: 10px;
  
}

.search-input {
  grid-area: input;
  grid-column: 2;
  border-radius: 10px;
  width: 700px;
}

/* Styles for the notifications icon need to be changed */
.material-symbols-outlined.icon-notifications {
  grid-area: notification;
  grid-column: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
}

/* the img */
.user-avatar {
  grid-area: avatar;
  grid-column: 4; /* Modificado */
  display: flex;
  align-items: center; /* Añadido para centrar verticalmente */
  margin-left: auto;
}
.user-avatar-left {
  grid-area: avatar;
  grid-column: 4; /* Modificado */
  display: flex;
  align-items: center; /* Añadido para centrar verticalmente */

}

.user-name {
  /* Modificado */
  grid-area: user;
  grid-column: 5 / -1; /* Ocupa todas las columnas necesarias */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  font-size: 40px;
  
}




/// This es the secod part
.share-header-down {
  display: grid;
  grid-template-columns: 2fr 1fr; // Two columns, one for each section


  .left-share {
    display: flex;
    align-items: center;

    // Styles for the text-share section in the left-share
    .text-share {
      flex-grow: 1; // to allow the get all the space posible
      margin-left: 10px;

      p {
        margin-bottom: 0rem !important;
        margin-left: 0px;
      }
      span {
        font-weight: 900;
      }
    }
  }







  
  /* Styling for the buttons-header section in the left-share */
  .buttons-header {
    display: flex;
    align-items: center; // Center items vertically
    justify-content:center; // Apply space-between to distribute space
   

    /* Additional styles for the buttons inside buttons-header */
    button {
      padding: 5px 25px;
      border-radius: 20px;
      background-color: $color2;
      border: none;
      color: white;
      margin-right: 10px;
    
      &:last-child {
        margin-right: 0; // Establece el margen del último botón a cero
      }
    }
    
  }
}
