


.container-nav {
    background-color: $color1;
     
    picture {
        img {
            margin: 6px 9px ;
           height: 30px;
        }
      
    }


    ul {
        
        padding-left: 10px;
    }

    li {
        list-style: none;
        margin-bottom: 10px;

        a {
            list-style: none;
            text-decoration: none; 
        }
    }
}



.material-symbols-outlined {
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
      color: white; 
  }
  

